name: Build and Push Docker Images

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # Allows manual triggering

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [8.5, 8.4, 8.3, 8.2, 7.4]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build CI and push
        uses: docker/build-push-action@v6
        with:
          context: ./php-ci
          push: true
          platforms: linux/amd64
          build-args: |
            PHP_VERSION=${{ matrix.php-version }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/php-ci:${{ matrix.php-version }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.licenses=MIT

      - name: Build Codeception and push
        if: matrix.php-version == '8.2'
        uses: docker/build-push-action@v6
        with:
          context: ./codecept-ci
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository_owner }}/codecept-ci:8.2
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.licenses=MIT

  build-tools:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tool: phpstan
            package: "phpstan/phpstan"
          - tool: rector
            package: "rector/rector driftingly/rector-laravel"
          - tool: pint
            package: "laravel/pint"
          - tool: phpcs
            package: "squizlabs/php_codesniffer"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Tool and push
        uses: docker/build-push-action@v6
        with:
          context: ./php-tool
          push: true
          platforms: linux/amd64
          build-args: |
            COMPOSER_PACKAGE=${{ matrix.package }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ matrix.tool }}:8.4
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.licenses=MIT
